.switchbase {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	position: absolute;
	top: 0px;
	right: 0px;
}

.switchoff {
	background-color: darkgrey;
	top: 0px;
	left: 0px;
	box-shadow: rgb(4 17 29 / 45%) -4px 0px 12px 0px;
}

.switchon {
	background-color: #07abf3;
	top: 0px;
	right: 0px;
	box-shadow: rgb(4 17 29 / 45%) 4px 0px 12px 0px;
}
