.btnH {

}

.btnH:hover {
	-webkit-box-shadow: 0px 5px 25px -11px #dbd6d6;
	-moz-box-shadow: 0px 5px 25px -11px #dbd6d6;
	-o-box-shadow: 0px 5px 25px -11px #dbd6d6;
	box-shadow: 0px 5px 25px -11px #dbd6d6;
}
